<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" thread-count="4" parallel="tests">
    <test name="AutomationSetOne">
        <classes>

                <class name="Big3.SingleLifeSumAssuredDriven" />

        </classes>
    </test>
</suite>