<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" thread-count="4" parallel="classes">
       <test name="SunLifeMGMRemoval">
         <classes>
               <class name="SunLife.DEV1996_ExisCustomerMGMReferralPolicy"/>
               <class name="SunLife.DEV1996_NewCustomerInvalidMGMReferral"/>
           <class name="SunLife.DEV1996_ExisCustomerInvalidMGMReferral"/>
                <class name="SunLife.DEV1996_NewCustomerMGMReferralPolicy"/>
        </classes>
    </test>
    <test name="ExeterRegression">
        <classes>
            <class name="ExeterAutomation.DEV1864_ExeterLogin" />
            <class name="ExeterAutomation.DEV1865_ExeterQuotingInvalidPremium"/>
            <class name="ExeterAutomation.DEV1865_ExeterQuotingValidPremium"/>
            <class name="ExeterAutomation.DEV1866_ExeterFeaturesAndBenefits"/>
        </classes>
    </test>
<test name="Big3Suite">
    <classes>
        <class name="Big3.JointLifePremiumDriven" />
        <class name="Big3.JointLifeSumAssuredDriven" />
        <class name="Big3.SingleLifePremiumDriven" />
        <class name="Big3.SingleLifeSumAssuredDriven" />
    </classes>
</test>
<test name="TestPrepCases">
    <classes>
        <class name="TestPrep.CreateAllLeadsAllProviders" />
        <class name="TestPrep.CreatePNLeadsAllProviders" />
        <class name="TestPrep.CreateNoPNLeadsAllProviders" />
    </classes>
</test>
<test name="SunLifeAutomation">
    <classes>
           <class name="AutomationTest.SunlifeBlankPremium" />
        <class name="AutomationTest.SunlifePremiumAsZero" />
        <class name="AutomationTest.SunlifePremiumBelowFive" />
        <class name="AutomationTest.SunlifePremiumBelowMinimum" />
     <class name="AutomationTest.JointPanelQuotesBelowMinimum" />
        <class name="AutomationTest.JointRAPanelQuotesBelowMinimum" />
        <class name="AutomationTest.SinglePanelQuotesBelowMinimum" />
        <class name="AutomationTest.SingleRAPanelQuotesBelowMinimum" />
    </classes>
</test>
    <test name="AutomationSetOne">
        <classes>
                <class name="DEV1765_NoContactAfterField.TC1_NoContactAfterSunLifeGOF" />
                <class name="DEV1765_NoContactAfterField.TC2_NoContactAfterRAPanel" />
                <class name="DEV1765_NoContactAfterField.TC3_FuneralPlans" />
        </classes>
    </test>
</suite>